.button {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.8rem;
  border-radius: 5px;
  color: white;
  outline: none;
  background-color: #2ba272;
  border-style: none;
  font-family: "HelvaBold";
  cursor: pointer;
  margin-left: 0;
  margin-right: 0;
}
.disabled {
  /* max-height: inherit; */
  background-color: #656565;
  display: flex;
  justify-content: center;
}
