.btn {
  text-decoration: none;
  background-color: #2ba272;
  color: white;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid #126443;
  cursor: pointer;
  text-align: center;
  margin: 0.6rem 0.4rem 0rem;
}

.btn:hover,
.btn:active {
  background-color: #30bd84;
  border-color: #2ba272;
}

.btn--flat {
  cursor: pointer;
  font: inherit;
  color: #2ba272;
  border: none;
  background-color: none;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
}

.btn--flat:hover,
.btn--flat:active {
  background-color: #2ba272;
  color: white;
}
