.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}
.card {
  width: 650px;
  max-width: 650px;

  padding-top: 0;
  padding-left: 0;
  padding-right: 0;

  display: grid;
  grid-template-columns: 1fr 15fr 1fr;
  grid-template-rows: 0.1fr 0.2fr 0.1fr 0.1fr;
  margin-bottom: 2rem;
  position: relative;
}
.closeIcon {
  position: absolute;
  background-color: #656565;
  border-radius: 50%;
  right: 0;
  margin: 10px;
  padding: 2px;
  cursor: pointer;
}
.closeIcon:hover {
  background-color: #3f3f3f;
}

.banner {
  width: 100%;
  max-width: 100%;
  cursor: pointer;
  display: block;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.cntBanner {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;

  position: relative;
}

.bannerOverlay {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  top: 0;
  position: absolute;
  pointer-events: none;
}

.bannerOverlay img {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  width: 100%;
  max-width: 100%;
}

.profile {
  border-radius: 50%;
  background-color: #2ba272;
  cursor: pointer;
  width: 25%;
  align-self: center;
  display: block;
}

.profileOverlay {
  position: absolute;
  top: 0;
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  pointer-events: none;
  /* background-color: #2ba272; */
}

.profileOverlay img {
  width: 25%;
  border-radius: 50%;
  border: 2px solid #2ba272;
}

.cnt {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: -10%;

  position: relative;
}

/*input styling */
.inputFields {
  margin-top: 1vh;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.customName {
  text-transform: capitalize;
  max-width: 100%;
}

.inp {
  color: #fefefe;
  display: inline-block;
  border: none;
  font-size: 1.1rem;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px #2ba272;
}
.fieldName {
  display: inline-block;
  font-size: 0.9rem;
  color: #a9a9a9;
}

.bio {
  width: 100%;
  overflow: hidden;
  padding: 10px;
  resize: none;
  border-radius: 0.2rem;
  background-color: transparent;
  border-color: #2ba272;

  border: #2ba272 solid 1px;
  border-radius: 5px;
  font: inherit;
  font-size: 1.1rem;
}

.bio:focus {
  outline: none !important;
  border: 1px solid #2ba272;
}

.bio-dark {
  color: #fefefe;
}

.count {
  position: absolute;
  bottom: 0;
  right: 0;

  padding-right: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 0.5rem;
}

.content {
  position: relative;
  margin-top: 0.5rem;
}
.loader {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
}
.btn {
  font-size: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 900px) {
  .card {
    width: 80vw;
    max-width: 80vw;
  }
  .profile,
  .profileOverlay img {
    width: 26%;
  }
  .inputFields input,
  .inputFields textarea,
  button {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 650px) {
  .profile,
  .profileOverlay img {
    width: 28%;
  }

  .profileOverlay img {
    border-width: 3px;
  }

  .inputFields input,
  .inputFields textarea,
  button {
    font-size: 0.75rem;
  }
  .fieldName {
    font-size: 0.65rem;
  }
  .inputFields input {
    margin-bottom: 0;
  }
  .count {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 500px) {
  .card {
    max-width: 95vw;
    width: 95vw;
  }
  .profile,
  .profileOverlay img {
    width: 35%;
  }

  .profileOverlay img {
    border-width: 2px;
  }

  .inputFields input,
  .inputFields textarea,
  button {
    font-size: 0.7rem;
  }
  .fieldName {
    font-size: 0.6rem;
  }
  .inputFields input {
    margin-bottom: 0;
  }
  .count {
    font-size: 0.6rem;
  }
}
